.pending-btn{
    border: none;
    outline: none;
    padding: 10px;
    background: rgba(247, 184, 62, 0.1);
    border: 1px solid #F6B83E;
    color: #F6B83E;
    border-radius: 5px;
    align-self: flex-end;
}