CHANGES NEEDED

-- make 
decrypter
landing page
website logo

-- change
toast to show errors 
card font 
organization transactions screen replace 'try clicking on an accepted transaction' with something better