@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.main__body{ 
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.main__card{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left:100px;
    padding-right: 100px;
}

.main__cardtitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    display: flex;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.main__cardsubtitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


.main__cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 0px;
    background: #FFFFFF;
    border: 1px solid #494949;
    border-radius: 13px;
    margin: 40px 0px;
    align-items: center;
    width: 350px;
}
.main__cardContainer div{
    padding: 5px 0px;
}
.main__cardContainer img{
    width: 100px;
}

.btn{
    padding: 15px;
    background: #F7B83E;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    width: 350px;
}

.updatebtn{
    background: #F7B83E;
    color: white;
    cursor: pointer;
}

.revokebtn{
    background: rgba(217, 217, 217, 0.5);
    color: black;
    cursor: pointer;
}

.main__rightCard{
    background: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    max-height: 500px;
    width: 60%;
    padding: 50px;
    margin: 25px 10px;
}

.main_rightScroll{
    max-height:  50vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.main_rightScroll::-webkit-scrollbar {
    display: none;
  }
  