@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.navbar{
    background-color: #0C0B0B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.navbar__logo{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FBFBFB;
    margin: 0 66px;
}

.navbar__logo div{
    border-style: solid 10px;
    border-color: #FBFBFB;
}

