@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 10px 0;
}

.card__upper {
    padding: 8px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__upper div {
    margin: 5px;
    font-family: 'Inter', sans-serif;
}

.card__upper__right {
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    opacity: 0.5;
}

.card__clg {
    font-size: 17px;
    font-weight: bold;
}

.card__id {
    font-size: 13px;
    color: #000000;
    opacity: 0.5;
}

.card__upper .card__data-id {
    font-size: 13px;
    color: #000000;
    opacity: 0.5;
}
.card__lower{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}
.card__lower div{
    font-size: 13px;
    padding: 5px 35px;
}
.card__lower div strong {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #000000;
}


.card__lowerbtn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.card__lowerbtn>button {
    background-color: transparent;
    border: none;
    outline: none;
}
.approved-btn{
    border: none;
    outline: none;
    padding: 10px;
    background: rgba(70, 179, 32, 0.1);
    border: 1px solid #46B320;
	color:#46B320;
	font-weight: bold;
	font-size: 12px;
    border-radius: 5px;
    align-self: flex-end;
}
.pending-btn{
    border: none;
    outline: none;
    padding: 10px;
    background: rgba(247, 184, 62, 0.1);
    border: 1px solid #F6B83E;
    color: #F6B83E;
    border-radius: 5px;
    align-self: flex-end;
}
.rejected-btn{
	border: none;
    outline: none;
    padding: 10px;
    background: rgba(247, 184, 62, 0.1);
    border: 1px solid red;
    color: red;
	font-weight: bold;
	font-size: 12px;
    border-radius: 5px;
    align-self: flex-end;
}

.card__lowerbtn>button img{
    width: 20px;
}
.card__lowerbtn>button img:hover{
    cursor: pointer;
}

.cardFaded{
    opacity: 0.5;
}